*{
color: #434455;
font-family: Roboto;
text-decoration: none;
list-style: none;
}


/* ==naveeee== */
.title{ 
    color: #2E2F42;
    margin-left: 50px;
    font-size: 18px;
    font-family: Raleway;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 21px;
    letter-spacing: 0.54px;
    word-wrap: break-word 
}
 
.title .headerlogotext {
    color: #4D5AE5;
    margin-left: 100px;
    font-size: 18px;
    font-family: Raleway;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 21px;
    letter-spacing: 0.54px;
    word-wrap: break-word
}

.nav-item {
    color: #2E2F42;
    margin-right: 60px;  
  }
  
.nav-item:hover {
    color: #404BBF;}

.nav-list {
    margin-right: 300px;
    display: flex;
    flex-direction: row; 
    align-items: center;    
    justify-content:space-evenly;
}

nav {
    color: black;
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content:space-evenly; 
    list-style: none;
     
}

/* Nav Address */

.address {
    color: #434455;
    font-size: 16px;
    margin-right: 200px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    word-wrap: break-word
}

.navmail {
    width: 15px;
}

.navemailcontent {
    margin-right: 15px;

}

.navphone{
    width: 15px;
    margin-left: 20px;
}

.navcellnumber {
    width: 140px;
    margin-left: auto;
}

.itemaddress {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content:space-evenly;
    color: #434455;
    font-size: 16px;
    font-family: Roboto; 
}


 /* ==hero-Section 1== */
 nav li {
    margin-left: 10px;
    align-items: center;
}

 #hero {
    background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)), url("Image/office-img.png");
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-position: center;
}

h1 {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 56px;
    padding-top: 40px;
    font-family: Roboto;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.12px;
    word-wrap: break-word;
    width: 500px;
}

.service-button {
    color: white;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    cursor: pointer;
    width: 169px;
    height: 56px; 
    padding: 16px 32px; 
    background: #4D5AE5; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); 
    border-radius: 4px; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 10px; 
    display: inline-flex"   
}

/* ==hero pop up== */
.popup {
    width: 408px;
    height: 584px;
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1); 
    visibility: hidden;
    transform: 0.4s, top 0.4s;
    transform: translate(-50%,-50%) scale(1);
}

.popuph3 {
    color: #2E2F42;
    margin: 40px 0;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 24px;
}

.open-popup {
    visibility: visible;
    top: 50%;
}

.popupname {
    margin: 20px 20px;
}

.inputpopup {
    margin: 10px 10px;
    display: inline-flex;
    justify-content: center;
    text-align: left;
}

.popup button {
    width: 100%;
    margin-top: 50px;
    padding: 10px;
    background: #404BBF;
    color: #E7E9FC;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: o 5px 5px rgba(0, 0, 0, 0.2);
}

.terms {
    display: flex;
    margin: 30px 0 ;
    align-items: center;
    gap: 4px;
  }
  
#linkterms {
    color: #4D5AE5;
    font-size: 12px;
    font-family: Roboto;
    font-weight: 400;
    text-decoration: underline;}


/* features== */ 
.sectionContainer{
    margin: 5%;
    padding-left:50px;
    padding-right:50px;
}

.sectionTwoList{
    width: 18rem;
}

.sectionTwoUL{
    color: black;
    display: flex;
    flex-direction: row;  
    justify-content:space-evenly;
    align-items: center;
    padding: 0;
}

.background {
    width: 100%;
    height: 112px;
    border-radius: 1%;
    background-color: #f4f4fd;
    align-items: center;
    display: grid;
    justify-content: center;
}

.feature-img {
    display: flex;
    justify-items: center;
    align-items: center;
    width: 45px;
    height: 45px;
}

.fwords {
    color: #2E2F42;
    margin: 10px 0 0 ;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.40px;
    word-wrap: break-word
}

.feature-text padding {
    color: #434455;
    margin: 0 auto;
    width: 20px;
    height: 50px;
    color: #434455;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    word-wrap: break-word
}

 /* == sector 3 what are we doing== */ 

h2 {
    color: #2E2F42;
    font-size: 36px;
    text-align: center;
    font-family: Roboto;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 40px;
    letter-spacing: 0.72px;
    word-wrap: break-word
}

.phonegroup {
    display: flex;
    justify-content: center;
}

.phone {
    margin: 30px 10px;
    width: 360px;
    height: 300px;
}

.sectioncontaine3 {
margin: 120px;
}


/* ==Team== */
.teamcontainer {
    width: 100%; 
    height: 100%; 
    background:#F4F4FD;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-3 {
    display: flex;
    margin: 10px;
}

.card-body {
    border: 1px solid #F4F4FD;
    border-radius: 5px;
    background-color: white;
    box-shadow: 1px 1px 5px gray;
}

.card-img {
    width: 100%; 
    height: 260px;
    border-radius: 5px;
}

.card-title {
    display: flex;
    justify-content: center;
    margin: 30px auto 10px;
    color: #2E2F42;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.40px;
    word-wrap: break-word
}

.card-text {
    color: #434455;
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    word-wrap: break-word
}

.row {
    display: -webkit-box;
    display: flex;
    justify-content: center;
}


.instagramlogo {
    width: 40%;
}

.teamgroup-socials {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    padding: 10px;
    margin: 10px 10px;
    
}

.teamsocials {
    width: 40px; 
    height: 40px;
    display: flex;
    border-radius: 50%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;  
    background: #4D5AE5
}


/* customer */

.customercontainer {
    margin: 80px 10px;
    width: 100%;
    height: 100%;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
    width: 168px; 
    height: 88px; 
    left: 0px; 
    top: 0px; 
    border-radius: 4px; 
    border: 1px #8E8F99 solid;
}

.boxitemcenter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 354px; 
    height: 50px;
    margin: 10% 10px;
    
}

.customerimg {
    width: 100%; 
    height: 100px;    
}

.customeritem {
    width: 40px; 
    height: 10.25px; 
    left: 0px; 
    top: 41.75px; 
}

.customertitlelogo {
    width: 3.19px; 
    height: 7.02px; 
    left: 0.01px; 
    top: 0px; 
    background: #8E8F99;
}


/* PORTFOLIO */
.portfolio-main {
    margin-bottom: 100px;
}

.body0 {
    display: flex;
    justify-content: center;
    margin: 70px auto 20px;
}

.portfolio-buttons {
    color: #404bbf;
    background-color: #E7E9FC;
    border: #E7E9FC;
    border-radius: 9%;
    margin: 25px 5px;
    width: 100px;
    height: 40px;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
    letter-spacing: 0.64px;
    word-wrap: break-word
}

.portfolio-buttons:hover {
    background-color: #404BBF;
    color: white;  
    box-shadow: 1px 1px 10px #434455;
}

.body-1 {
    flex-direction: row; 
    align-items: center;
    justify-content:space-evenly; 
}

.portfolio-card-d-block {
    box-shadow: 1px 1px 10px #E7E9FC;
    width: 360px;
    height: 360px;
}

.portfolio-row {
    display: -webkit-box;
    display: flex;
    justify-content: center;
}

.col-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    display: flex;
    margin: 10px;
}

.card-body {
    display: flex;
    background-color: white;
}

.col-4:hover {
    box-shadow: 1px 1px 5px #434455;

}

.card-img-top {
    width: 100%; 
    height: 260px;
}

.portfolio-card-title {
    color: #2E2F42;
    margin: 25px auto 1px 10px;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.40px;
    word-wrap: break-word
}

.portfolio-card-text {
    color: #434455;
    margin: 0 auto 1px 10px;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    word-wrap: break-word
}


/* footer */
.footercontaner {
    width: 100%; 
    height: 50%; 
    background: #2E2F42;
    display: flex;
    align-items: baseline;
}

.footeritem {
    margin: 80px;
    display: flex;
    flex-direction: row;
}

.groupfooter1 {
    margin-right: 40px;
}

.footertitle{ 
    color: white;
    margin-right:240px;
    font-size: 18px;
    font-family: Raleway;
    font-weight: 800; 
}

.footerLogoText {
    color: #4D5AE5;
    font-size: 18px;
    font-family: Raleway;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 1px;
}

.footertext {
    color: white;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    word-wrap: break-word
}

.footerp {
    width: 240px;
    color: #F4F4FD;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 24px;
}

.groupfooter2 {
    margin-right: 100px;
    
}


.instagramlogofooter {
    width: 40%;
}

.footeritem2 {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 10px 10px;
}

.footersocials {
    width: 40px; 
    height: 40px;
    display: flex;
    border-radius: 50%;
    flex-direction: row;
    justify-content: space-evenly;
    background: #4D5AE5
}

