*{
color: #434455;
font-family: Roboto;
text-decoration: none;
list-style: none;
}

/* ==naveeee== */
.title{ 
    color: #2E2F42;
    margin-left: 50px;
    font-size: 18px;
    font-family: Raleway;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 21px;
    letter-spacing: 0.54px;
    word-wrap: break-word 
}
 
.title .headerlogotext {
    color: #4D5AE5;
    margin-left: 100px;
    font-size: 18px;
    font-family: Raleway;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 21px;
    letter-spacing: 0.54px;
    word-wrap: break-word
}

.nav-item {
    position: relative;
    text-decoration: none;
    color: #2E2F42;
    letter-spacing: 0.5px;
    padding: 0 10px;
  }

  .nav-item::after{
    content: "";
    position: absolute;
    background-color: #404BBF;
    width: 100%; 
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;  
    transition: 0.3s; 
  }
  
.nav-item:hover {
    color: #404BBF; 
}

.nav-item:hover::after {
    color: #404BBF;
    width: 100%; 
}

.nav-list {
    margin-right: 300px;
    display: flex;
    flex-direction: row; 
    align-items: center;    
    justify-content:space-evenly;
}

nav {
    color: black;
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content:space-evenly; 
    list-style: none;
     
}

/* Nav Address */

.address {
    color: #434455;
    font-size: 16px;
    margin-right: 200px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    word-wrap: break-word
}

.navmail {
    width: 15px;
}

.navemailcontent {
    margin-right: 15px;

}

.navphone{
    width: 15px;
    margin-left: 20px;
}

.navcellnumber {
    width: 140px;
    margin-left: auto;
}

.itemaddress {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content:space-evenly;
    color: #434455;
    font-size: 16px;
    font-family: Roboto; 
}


 /* ==hero-Section 1== */
 nav li {
    margin-left: 10px;
    align-items: center;
}

 .hero {
    background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)), url("Image/office-img.png");
    width: 101%;
    height: 520px;
    background-size: cover;
    background-position: center;
}

.contaner {
    display: flex;
    justify-content: center;

}

h1 {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 56px;
    padding-top: 40px;
    font-family: Roboto;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.12px;
    width: 500px;
}

.service-button {
    color: white;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    cursor: pointer;
    width: 169px;
    height: 56px; 
    padding: 16px 32px; 
    background: #4D5AE5; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); 
    border-radius: 4px; 
}


/* ==hero pop up== */
.popup {
    width: 408px;
    height: 584px;
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    visibility: hidden;
    transform: translate(-50%,-50%) scale(1);
}

.modle {
    width: 5px;
    border-radius: 50%;
}

.modle-close {
     margin-left: 250px;
     background-color: #E7E9FC;
}

.popuph3 {
    color: #2E2F42;
    margin: 40px auto 10px;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 24px;
}

.open-popup {
    visibility: visible;
    top: 50%;
}

.popuptitle {
    position: absolute;
    top: -24px;
    color: #8E8F99;
    font-size: 12px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.48px;
}

.popupicon {
    position: absolute;
    left: 16px;
    top: 20%;
    transform: translateY(-50%);
    color: #404BBF;
}

.popup-lable {
    position: relative;
}

.inputpopup {
    width: 360px;
    height: 40px;
    border-radius: 5px;
    border-color: #2E2F4266;
    display: inline-flex;
    justify-content: center; 
}

.inputpopuptextbox {
    width: 360px;
    height: 150px;
    border-radius: 5px;
    border-color: #2E2F4266;
    display: inline-flex;
    justify-content: center;
}

.popup button {
    width: 100%;
    padding: 10px;
    background: #404BBF;
    color: #E7E9FC;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
}

.terms {
    display: flex;
    margin: 30px 0 ;
    align-items: center;
    gap: 4px;
  }
  
#linkterms {
    color: #4D5AE5;
    font-size: 12px;
    font-family: Roboto;
    font-weight: 400;
    text-decoration: underline;}

textarea {
        resize: none;
        font-family: inherit;
}

.popupok {
    margin: 0;
}

/* features== */ 
.sectionContainer{
    margin: 5%;
    padding-left:50px;
    padding-right:50px;
}

.sectionTwoList{
    width: 18rem;
}

.sectionTwoUL{
    color: black;
    display: flex;
    flex-direction: row;  
    justify-content:space-evenly;
    align-items: center;
}

.background {
    width: 100%;
    height: 112px;
    border-radius: 1%;
    background-color: #f4f4fd;
    align-items: center;
    display: grid;
    justify-content: center;
}

.feature-img {
    display: flex;
    justify-items: center;
    align-items: center;
    width: 45px;
    height: 45px;
}

.fwords {
    color: #2E2F42;
    margin: 10px 0 0 ;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.40px;
    word-wrap: break-word
}

.feature-text padding {
    color: #434455;
    margin: 0 auto;
    width: 20px;
    height: 50px;
    color: #434455;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    word-wrap: break-word
}

 /* == sector 3 what are we doing== */ 

h2 {
    color: #2E2F42;
    font-size: 36px;
    text-align: center;
    font-family: Roboto;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 40px;
    letter-spacing: 0.72px;
    word-wrap: break-word
}

.phonegroup {
    display: flex;
    justify-content: center;
}

.phone {
    margin: 30px 10px;
    width: 360px;
    height: 300px;
}

.sectioncontaine3 {
margin: 120px;
}


/* ==Team== */
.teamcontainer {
    width: 100%; 
    height: 830px; 
    background:#F4F4FD;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-3 {
    display: flex;
    margin: 10px;
}

.card-body {
    border: 1px solid #F4F4FD;
    border-radius: 5px;
    background-color: white;
    box-shadow: 1px 1px 5px #b3b3b3;
}

.card-img {
    width: 100%; 
    height: 260px;
    border-radius: 5px;
}

.card-title {
    display: flex;
    justify-content: center;
    margin: 30px auto 10px;
    color: #2E2F42;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.40px;
    word-wrap: break-word
}

.card-text {
    color: #434455;
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    word-wrap: break-word
}

.row {
    display: -webkit-box;
    display: flex;
    justify-content: center;
}


.instagramlogo {
    width: 40%;
}

.teamgroup-socials {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    padding: 10px;
    margin: 10px 10px;
    
}

.teamsocials {
    width: 40px; 
    height: 40px;
    display: flex;
    border-radius: 50%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;  
    background: #4D5AE5
}


/* customer */

.customercontainer {
    margin: 120px 10px;
    width: 100%;
   
}

.bigbox {
    width: 168px;
    height: 88px;
    border: 2px solid #b3b3b3;
    border-radius: 5px;
    background-color: white;
    
}

.boxitemcenter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 80px 120px; 
}

.customerimg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
}

.customertext {
    margin: 20px;
}


/* PORTFOLIO */
.portfolio-main {
    margin-bottom: 100px;
}

.body0 {
    display: flex;
    justify-content: center;
    margin: 70px auto 20px;
}

.portfolio-buttons {
    color: #404bbf;
    background-color: #E7E9FC;
    border: #E7E9FC;
    border-radius: 9%;
    margin: 25px 5px;
    width: 100px;
    height: 40px;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
    letter-spacing: 0.64px;
    word-wrap: break-word
}

.portfolio-buttons:hover {
    background-color: #404BBF;
    color: white;  
    box-shadow: 1px 1px 10px #434455;
}

.body-1 {
    flex-direction: row; 
    align-items: center;
    justify-content:space-evenly; 
}

.portfolio-card-d-block {
    box-shadow: 1px 1px 10px #E7E9FC;
    width: 360px;
    height: 420px;
}

.portfolio-row {
    display: -webkit-box;
    display: flex;
    justify-content: center;
}

.col-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    display: flex;
    margin: 10px;
}

.card-body {
    display: flex;
    background-color: white;
}

.col-4:hover {
    box-shadow: 1px 1px 5px #434455;

}

.card-img-top {
    width: 100%; 
    height: 300px;
}

.portfolio-card-title {
    color: #2E2F42;
    margin: 32px auto 1px 10px;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.40px;
    word-wrap: break-word
}

.portfolio-card-text {
    color: #434455;
    margin: 0 auto 1px 10px;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    word-wrap: break-word
}


/* footer */
.footercontaner {
    width: 100%; 
    height: 50%; 
    background: #2E2F42;
    display: flex;
    justify-content: center;
    margin-right: 40%;
}

.groupfooter1 {
}

.groupfooter2 {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.footeritem {
    display: flex;
    flex-direction: row;
    
    justify-items: center;
    align-items: center;
}

.footeritem2 {
    display: flex;
    margin-right: 80px;
    flex-direction: row;
}

.footertext2 {
    color: white;
    margin-left: 40px;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.footertitle{ 
    color: white;
    margin-right:240px;
    font-size: 18px;
    font-family: Raleway;
    font-weight: 800; 
}

.footerLogoText {
    color: #4D5AE5;
    font-size: 18px;
    font-family: Raleway;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 1px;
}

.footertext {
    color: white;
    margin: ;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.footerp {
    width: 240px;
    color: #F4F4FD;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 24px;
}

.instagramlogofooter {
    width: 70%;
}

.teamsocials {
    display: flex;
    justify-content: center;
}

.footersocials {
    margin-top: 16px;
    margin-right: 15px;
    width: 40px; 
    height: 40px;
    display: flex;
    border-radius: 50%;
    flex-direction: row;
    justify-content: space-evenly;
    background: #4D5AE5
}

.footertext3 {
    color: white;
    margin-left: 15px;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.inputemailfooter {
    margin: 15px ;
    width: 264px;
    height: 40px;
    border-radius: 5px;
    border-color: #FFFFFF;
    background-color: #2E2F42;
    display: inline-flex;
    justify-content: center; 
}


.Subscribefooter {
    border-radius: 5px;
    border-color: #4D5AE5;
    background-color: #4D5AE5;
    color: white;
    width: 165px;
    height: 40px;
    cursor: pointer;
}

